body {
    margin: 0;
    background-color: aquamarine;
}

.navbar {
    padding: 10px;
    color: aliceblue;
    display: flex;
    background-color: rgb(21, 116, 130);
}

.navbar h1 {
    flex: 1;
}

.navbar ul {
    flex: 3;
}

.main-container {
    display: flex;
}

.main-container main{
    padding-top: 100px;
    flex: 2;
    text-align: center;
    margin-top: 200px;

}

.main-container input{
    margin: 10px;
    height: 40px;
    width: 800px;
    font-size: x-large;
}

.main-container aside {
    margin: 30px;
    padding: 30px;
    flex: 2;
    background-color: aliceblue;
    border-radius: 15px;

}

.main-container aside button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}